<!DOCTYPE html>
<html lang="en">
<head>
 
</head>

		<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

<body>


<div class = "logButtons">
	<h1 class="welcome"> Welcome to Picturesque,</h1><br>
	<h2 class="description"> a social newtwork designed for photographers to share their photos <br>and to gain expose though a system of Contests.<br><br>
	<a href="/users/sign_up"><button class="btn btn-primary btnSignUp" type="button" ><b>Sign Up</b></button></a>

	<a href="/users/sign_in"><button class="btn btn-success btnLogIn" type="button" ><b>Log In</b></button></a>
	
	<button class="btn btnLogMore" type="button" ><b><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></b></button>
</div>

<div class="expl">
	<h1 class="headerText"> Share your Pictures with other Photographers and grow your network with Likes, Comments, and More</h1>
</div>
<br>
<br>
<div class="scrollExample"></div>

<div class="expl">
	<h1 class="headerText"> Enter your Photos into themed Competitions with three steps; 
		<br> Enter Your Photo
		<br> Vote Your Favorite Photos 
		<br> See the Winner of the Competition 
	</h1>
</div>
<br>
<br>
<div class="scrollFlower"></div>

<div class="expl">
<br>
<br>
<br>
	<h1 class="headerText"> Create Your Personal Online Photography Portfolio
	</h1>
<br>
<br>
<br>
</div>
<br>
<br>
<div class="scrollHats"></div>


</body>
</html>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/assets/parallax.min.js"></script>
		<script src="/assets/parallax.js"></script>


<style>
	.headerText{
		font-size: 50px;
		font-family: 'Slabo 27px', serif;
	}
	.expl{
		padding-top: 14px;
		text-align: center;
	}
	.description{
		font-size: 25px;
	 	font-family: 'Slabo 27px', serif;
	 	padding-top: 0px;
	}
 .welcome{
 	font-size: 50px;
 	font-family: 'Slabo 27px', serif;
 	padding-bottom: 0px;
 }

 body {
   
    background-color: white;
    
	}
	.btnSignUp{
		width: 15%;
		background-color: rgba(51,122,183,0.5);
		color: white;
	}
	.btnLogIn{
		width: 15%;
		background-color: rgba(92,184,92,0.5);
		color: white;
	}
	
	.logButtons{
		text-align: center;
		padding-top: 14%;
		color: white;
		background-image: url("/assets/cats4.jpg");
		background-size: 100% ;
		background-repeat: no-repeat;
	}
	.btnLogMore{
		background-color: transparent;
		border: 1px transparent solid;
		height: 10%;
		width: 100%;
		font-size: 50px;
		color: white;
		padding-top: 15%;
	}
	.scrollFlower{
		height: 500px;
	}
	.scrollExample{
		height: 500px;
	}
	.scrollHats{
		height: 500px;
	}

.btnLogMore:focus {outline:0;}


</style>

<script>

$('.scrollExample').parallax({imageSrc: '/assets/example.jpg'});
$('.scrollFlower').parallax({imageSrc: '/assets/waterFlower.jpg'});
$('.scrollHats').parallax({imageSrc: '/assets/hats.jpg'});


$('.btnLogMore').click(function(){
	
    $('html, body').animate({scrollTop:700}, 'slow');
});

$('.btnLogMore').hover(function(){
	console.log("hello")
	$(this).empty();
	$(this).append($( "<span><b> Learn More</b></span>" ))
 	$(".btnLogMore").css("background","linear-gradient(transparent,rgba(0, 0, 0, 0.4))")
 	$(".btnLogMore").css("color","white")
 	$(".btnLogMore").css("border","transparent")
},function() {
	console.log("goodbye")
    $(this).empty();
    $(this).append( "<b><span class='glyphicon glyphicon-chevron-down' aria-hidden='true'></span></b>" );
    $(".btnLogMore").css("background","transparent")
  }
);
</script>






