<!-- AIzaSyBp58dFyBZUfJ_5_7p8MivmRyb_fGlfH_c -->

<%= render "layouts/navbar" %>



<div class="row">
	<div class="col-md-4 new">
		<h1>New Post</h1>	
		<%= render 'form' %>
		<%= link_to 'Back', posts_showAll_path %>
	</div>
	<div class="col-md-8 map">
		    <div id="map"></div>
	</div>

</div>


<style type="text/css">
  .row{ height: 100%; margin: 0; padding: 0; }
  body{height: 100%}
  #map { height: 100%; 
  		width: 100%;
  	}
	.map{
		height: 90vh;
	}

	.new{
		text-align: center;
	}


</style>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

 <script type="text/javascript">
  if ("geolocation" in navigator){
  	navigator.geolocation.getCurrentPosition(onLocation, onError);
  }
  function onLocation(position){
  // We can't just directly feed the position into our google map
  // The objects are formatted differently, google maps is looking for
  // an object with "lat" and "lng" keys.
	  var myPosition = {
	    lat: position.coords.latitude,
	    lng: position.coords.longitude
	  };

	  createMap(myPosition);
	  setupAutocomplete(); // <------------
	}

	function createMap(position){
	  	var mapOptions = {
	    center: position,
	    zoom: 12
		  };
		  map = new google.maps.Map($('#map')[0], mapOptions);
		}

		function onError(err){
			console.log("What are you using, IE 7??", err);
		}

		function createMarker(position) {
	 	   var marker = new google.maps.Marker({
		   position: position,
		   map: map
		 });
	}

	function setupAutocomplete(){
  var input = $('#get-places')[0];
  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.addListener('place_changed', function(){
	    var place = autocomplete.getPlace();
	    if (place.geometry.location) {
	      map.setCenter(place.geometry.location);
	      
	      createMarker(place.geometry.location, place.formatted_address);
	      latitude = place.geometry.location.lat();
	      longitude = place.geometry.location.lng();
	
	   
	      $("#post_coordinateX").val(longitude)
	      $("#post_coordinateY").val(latitude)
	      $("#get-places").val(input.value)
	      debugger;
	 
	    } else {
	      alert("The place has no location...?")
	    }
	  });
	}

$(":submit").click(function(){

})
	

</script>
















