<div class="headerContainer">
	<div class="col-md-4 brand">
		Hello
	</div>
</div>





<style>

	.brand{
		background-color: beige;
		height: 70px;
		padding: 0px;
		border: 1px solid black;
		line-height: 70px;

	}
	body{
		background-color: beige;
	}

</style>